{% extends "base.html" %}
{% block content %}
<form action="{%url 'CreateJournal'%}" method="POST">
  {%csrf_token%}
{{form.as_p}}
<input type="submit" value="Add Entry" class="btn">
</form>
<script>
    let selectEl = document.querySelectorAll('select')

  M.FormSelect.init(selectEl)

  var dateEl = document.getElementById("id_date")
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  })

</script>
{% endblock content %}

