
<div>
  <canvas id="myChart"></canvas>
</div>

<html data-ratings="{{moods}}" id="moods"></html>

<script>
  const ctx = document.getElementById('myChart');
  let moods = document.getElementById('moods')
  console.log(moods.dataset.ratings)
  let ratings = moods.dataset.ratings

  const dates = ratings.match(/\d{4}-\d{2}-\d{2}/g)
  const ratingsArr = ratings.match(/Mood:\s*(\d+)/g).map(m => Number(m.match(/\d+/)[0]))
  console.log(ratingsArr)
  new Chart(ctx, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: '',
        data: ratingsArr,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
